@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

body,html {
  height: 100%;
  background-color: rgb(15, 15, 70);
  color: white;
}

.font-xxsm {
  font-size: 1.25vw;
}

.font-xsm {
  font-size: 1.35vw;
}

.font-sm {
  font-size: 1.45vw
}

.font-m {
  font-size: 1.55vw;
}

.font-l {
  font-size: 1.8vw;
}

.font-xl {
  font-size: 2.2vw;
}

.font-xxl {
  font-size: 2.7vw;
}

.indent {
  margin-left: 2vw;
}

.indent-extra {
  margin-left: 3vw;
}

#header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  padding-top: 0.5vw;
  font-family: 'Manjari', sans-serif;
}

#Brand {
  font-size: 1.2vw;
  cursor: pointer;
}

#Github-icon {
  width: 1.5vw;
  transition: 0.3s;
  position: fixed;
  top: 0.25vw;
  right: 1vw;
}

#Home-icon {
  color: white;
  width: 1.3vw;
  transition: 0.3s;
  position: fixed;
  top: 0.4vw;
  left: 1vw;
  cursor: pointer;
}

#Page_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 92vh;
  padding: 0.1vw;
}

#Navigator {
  width: 19vw;
  overflow-y: scroll;
}

.Concept_Links {
  border: 0.2vw solid black;
  margin: 0.6vw 1vw 0.6vw 1vw;
  padding: 0.2vw;
  cursor: pointer;
  transition: 0.35s;
  text-align: center;
  background: rgb(138, 133, 0);
  color: white;
  font-size: 1.35vw;
  font-family: 'Mandali', sans-serif;
}

.Concept_Links:hover {
  background: rgb(251, 255, 0);
  color: black;
}

.Concept_title {
  color: white;
  text-align: center;
  margin: 2vw 10vw 2vw 10vw;
  border: 0.2vw solid white;
  padding: 1vw;
  font-size: 4vw;
  font-family: 'Comfortaa', cursive;
}

.Concept_page {
  height: 92vh;
  width: 80vw;
  overflow-y: scroll;
}

.Container {
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0vw 10vw 0vw 10vw;
}

.Code {
  font-size: 1vw;
  color: white;
  border: 0.1vw solid white;
  padding: 2vw 5vw 2vw 5vw;
  margin: 1vw 0vw 1vw 0vw;
}

.Code-sm {
  font-size: 0.9vw;
  color: white;
  border: 0.1vw solid white;
  padding: 1.5vw 3vw 1.5vw 3vw;
  margin: 2vw 0vw 2vw 0vw;
}

.BigO_type {
  margin-top: 2vw;
  margin-bottom: 2vw;
  position: relative;
  left: 0.5vw;
  font-size: 2vw;
}

.BigO_example {
  margin-bottom: 4vw;
}


.Term {
  font-size: 1.5vw;
  margin-top: 1.5rem;
}

.Link {
  cursor: pointer;
}

.Link-green {
  cursor: pointer;
  color: rgb(9, 255, 0);
}

.Link-yellow {
  cursor: pointer;
  color: yellow;
}

.Link-red {
  cursor: pointer;
  color: red;
}

/* width */
::-webkit-scrollbar {
  width: 0.75vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(181, 184, 0);
  transition: 1s;
  border: 0.2vw solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.8vw;
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 3vh;
  display: flex;
  align-items: center;
}

